.container{
    display: flex;
    flex-direction: column;
    margin: auto;
    margin-top: 200px;
    background: white;
    width: 800px;
    padding-bottom: 30px;
}
.header{
    display: flex;
    flex-direction: column;
    align-items:center;
    gap: 9px;
    width: 100%;
    margin-top: 30px;
}
.text{
    color: purple;
    font-size: 48px;
    font-weight: 700;
}
.underline{
    width: 61px;
    height: 6px;
    background: purple;
    border-radius: 9px;
}
.inputs{
    margin-top: 55px;
    display: flex;
    flex-direction: column;
    gap: 25px;
}
.input{
    margin: auto;
    display: flex;
    align-items: center;
    width: 320px;
    height: 80px;
    background: #eaeaea;
    border-radius: 6px;
}
.input img{
    margin: 0px 30px;

}

.input input{
    height: 50px;
    width: 400px;
    background: transparent;
    border: none;
    outline: none;
    color: #799797;
    font-size: 19px;
}
.forgot-password{
    padding-left: 62px;
    margin-top: 27px;
    color: #799797;
    font-size: 18px;
}
.forgot-passord span{
    color: blueviolet;
    cursor: pointer;
}
.submit-container{
    display: flex;
    gap: 30px;
    margin:60px auto;

}
.submit{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 200px;
    height: 55px;
    color: #fff;
    background: purple;
    border-radius: 50px;
    font-size: 19px;
    font-weight: 700;
    cursor: pointer;
}

.gray{
    background-color: #799797;
    color: #676767;
}


